@charset "UTF-8";

/*
GENERAL STYLING
================================================ */
html {
  font-size: 100%;
}
body {
  color: #383e45;
  font-size: 0.9rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.wrapper {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}
.section-title {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: normal
}
.hidden {
  display: none;
}

/*
nav
================================================ */
#nav li{
  position: fixed;
  top: 0;
  left: 50px;
  display: flex;
  flex-direction: column;
  z-index: 3;
  margin-top: 36px;
  font-size: 14px;
  translate: -100vw 0;
}
#nav li:nth-child(2) {
  top: 34px;
}
#nav li:nth-child(3) {
  top: 68px;
}
#nav li:nth-child(4) {
  top: 102px;
}
#nav li a {
  color: #fff;
  transition: .3s;
}
#nav li a:hover {
  opacity: .7;
}

/*
header
================================================ */
#header {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
  background-color: #fff;
}
.site-title {
  width: 180px;
  padding: 4.5px 0;
  line-height: 1px;
}
.site-title a {
  display: block;
}

/*
hamburger-menu
================================================ */
#menu-screen {
  position: fixed;
  inset: 0;
  opacity: 0.8;
  background-color: black;
}
#bar1, #bar2{
  width: 30px;
  height: 2px;
  background-color: #383e45;
}
#bar1 {
  top: 0;
  transition: .5s;
}
#bar2 {
  bottom: 0;
  margin-top: 6px;
  transition: .5s;
}
#bar1.active {
  transform: translateY(4px) rotate(-45deg);
  background-color: #fff;
}
#bar2.active {
  transform: translateY(-4px) rotate(45deg);
  background-color: #fff;
}

/*
PRODUCTS
================================================ */
#products {
  margin-bottom: 120px;
}
#products #product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 35px;
}
#products a {
  transition: all 0.5s;
}
#products a:hover {
  opacity: .7;
}
#products li h2 {
  margin-top: 6px;
  font-size: 12px;
  color: #383e45;
  font-weight: normal;
}
#products li p{
  font-size: 12px;
  color: #383e45;
}
#products .view-more {
  display: block;
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  color: #383e45;
}

/* PRODUCTS */
#products .page-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  font-size: 14px;
}
#products .page-list a {
  color: #383e45;
  transition: .3s;
}
#products .page-list a:hover {
  opacity: .7;
}

/*
ITEM
================================================ */
#item .item__content {
  display: flex;
  justify-content: left;
  gap: 64px;
  max-width: 800px;
  margin-bottom: 60px;
}
#item .item__img {
  width: 400px;
}
#item .item__info {
  flex: 1;
  font-size: 14px;
}
#item .item__info p {
  margin-bottom: 30px;
}
#item .item__info--spec {
  height: 40px;
  margin-left: -2px;
}
#item .item__info--spec th {
  padding-right: 20px;
  text-align: left;
  font-weight: normal;
}
#item .item__info--spec th,td {
  line-height: 1.3;
}
#item a {
  display: block;
  margin-bottom: 120px;
  font-size: 14px;
  color: #383e45;
  text-align: center;
  transition: .5s;
}
#item a:hover {
  opacity: .7;
}

/*
ABOUT
================================================ */
#about {
  max-width: 670px;
  margin: 0;
  margin-bottom: 150px;
}
#about .about__text p {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.9;
}

/*
COMPANY
================================================ */
#company {
  max-width: 670px;
  margin: 0;
  margin-bottom: 120px;
  font-size: 14px;
}
#company .company__content dl {
  display: grid;
  grid-template-columns: 180px 1fr;
  margin-bottom: 20px;
}
#company .company__content dt,
#company .company__content dd {
  padding: 20px 10px;
  border-bottom: 1px solid #d9d9d9;
}
#company .company__content dt:last-of-type,
#company .company__content dd:last-of-type {
  border-bottom-style: none;
}
#company .company__content dt {
  grid-column: 1;
}
#company .company__content dd {
  grid-column: 2;
}

/*
footer
================================================ */
#footer {
  margin-bottom: 19px;
}
#footer div {
  display: flex;
  justify-content: space-between;
}
#footer ul {
  display: flex;
}
#footer a {
  color: #383e45;
  margin-right: 30px;
  font-size: 12px;
  transition: all 0.5s;
}
#footer a:hover {
  opacity: .7;
}
#footer p {
  padding-top: 2.5px;
  font-size: 10px;
}

/*
Responsive
================================================ */
@media screen and (max-width: 900px) {
  /* TOP */
  #products {
    margin-bottom: 101.5px;
  }
  #products #product-list {
    grid-template-columns: 1fr 1fr;
    gap: 40px 20px;
  }

  /* Item */
  #item .item__content {
    flex-direction: column;
    gap: 30px;
  }
  #item .item__img {
    width: 100%;
  }
  #item .item__info--spec th {
    padding-right: clamp(20px, 5vw, 80px);
  }
  #item a {
    margin-bottom: 102px;
  }

  /* About */
  #about {
    margin-bottom: 131px;
  }

  /* Company */
  #company {
    margin-bottom: 100px;
  }
  #company .company__content dl {
    display: block;
  }
  #company .company__content dt {
    padding: 20px 0 0 10px;
    border-bottom-style: none;
  }
  #company .company__content dd {
    padding: 10px 0 20px 10px;
  }
  #company iframe {
    max-width: 600px;
    width: 100%;
    margin: 0;
  }

  /* footer */
  #footer div {
    flex-direction: column;
  }
  #footer p {
    padding-top: 4px;
    margin-bottom: 1px;
    font-size: 10px;
  }
}